<head>
    <title>Burrd</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/myStyle.css">  
    <link href="css/landing-page.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/img/burrdy.ico">
</head>


<template name="NavBar">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style = "background-color: #ffa000">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand topnav" href="/"  > Home </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                  <li><a href="/about">About</a></li>

                </ul>
            </div>
        </div>
    </nav>
</template>

<template name="Home">
    {{> NavBar}}
    <!-- Main Body -->
    <a name="home"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        
                        <h3>Have you heard the wurrd?</h3>
                        
                        <img src= "/img/burrd_large.png" style="max-height:300px" width="auto">
                        <h3>Everybody's heard, about</h3>
                        <h1>the burrd</h1>
                        <h3>Your happy hour destination</h3>    

                        <hr class="intro-divider">
                        <img src="/img/scrollArrow.png" class="center-block img-responsive " alt="Responsive image">
                            
                      </div>
                  </div>
              </div>
          </div>
    </div>
    
  <script src="js/jquery.js"></script>
</template>


<template name="About">

    {{> NavBar}}

    <div class = "team-section">
        <div class = "section-wrap" > 
            <div class="section-title">Who we are.
  <!-- think about a cool autofill thing -->
            </div>
            <div class ="members">
                <div class ="member">
                    <img src="/img/prof_david.png" alt="adam"/>
                    <div class="member-name">David Liberman</div>
                    <div class="member-title">CEO</div>
                </div>
                 <div class ="member">
                    <img src="/img/prof_adam.png" alt="adam"/>
                    <div class="member-name">Adam Dorwort</div>
                    <div class="member-title">CTO</div>
                </div>
                <div class ="member">
                    <img src="/img/prof_andrew.png" alt="adam"/>
                    <div class="member-name">Andrew Walters</div>
                    <div class="member-title">Software Developer</div>
                </div>
            </div>
            <div class ="members">
                 <div class ="member">
                    <img src="/img/prof_trent.gif" alt="adam"/>
                    <div class="member-name">Trent Robison</div>
                    <div class="member-title">Software Development Lead</div>
                </div>
                <div class ="member">
                    <img src="/img/prof_soham.png" alt="adam"/>
                    <div class="member-name">Soham Jatakia</div>
                    <div class="member-title">Software Development Lead</div>
                </div>
                <div class ="member">
                    <img src="/img/prof_chloe.png" alt="adam"/>
                    <div class="member-name">Chloe Lopez</div>
                    <div class="member-title">User Interface Specialist</div>
                </div>
                <div class ="member">
                    <img src="/img/prof_sherman.png" alt="adam"/>
                    <div class="member-name">Sherman Cheung</div>
                    <div class="member-title">Algorithms Specialist</div>
                </div>
                <div class ="member">
                    <img src="/img/prof_anjali.png" alt="adam"/>
                    <div class="member-name">Anjali Patel</div>
                    <div class="member-title">QA Specialist</div>
                </div>
                <div class ="member">
                    <img src="/img/prof_brenton.png" alt="adam"/>
                    <div class="member-name">Brenton Ang</div>
                    <div class="member-title">Database Specialist</div>
                </div>
            </div>
        </div>
    </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

</template>


